/* Tags */
*{
    margin: 0px;
    padding: 0px;
}



p{
    Color: #999999;
    font-size: 16px;
    font-family: "Comic Sans MS";
}

body
{
    background-color: black;
}

header{
    background-color: #35b8b0;
    height: 100px;
}

footer{
    clear: both;
    background-color: greenyellow;
    height: 50px;
    text-align: center;
    padding: 10px;
}

/*IDs*/
#meio{
    background-color: white;    
}

#imagemPai{
    margin-left: 3%;
    min-height: 100px;
    width: 27%;
    float: left; 
    display: table;
}

#imagem{
    display: table-cell;
    vertical-align: middle;
}

#login{
    margin-right: 5%;
    min-height: 100px;
    text-align: right;
    width: 65%;
    float: right;
    display: table;
}

#loginfilho{
    display: table-cell;
    vertical-align: middle;
}

#div_esquerda_pai{
    margin-left: 5%;
    background-color: white;
    min-height: 400px;
    width: 35%;
    float: left;
    display: table;
}


#div_esquerda{
    display: table-cell;
    vertical-align: middle;
}

#div_direita_pai{
    margin-left: 5%;
    background-color: white;
    min-height: 400px;
    width: 55%;
    float: right;
    display: table;
}

#div_direita{
    display: table-cell;
    vertical-align: middle;
    align-items: justify ;
}

/*Class*/
.container{
    
}